@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
              <a class="brand" href="@routes.Application.index">PageWatcher</a>
              <ul class="nav">
                  <li><a href="@routes.Pages.list">Pages</a></li>
                  <li><a href="@routes.Settings.show">Settings</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset2 span8">
              @content
          </div>
        </div>
      </div>
    </body>
</html>
